.ad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px; /*widthの半分にする*/
  margin-top: -225px; /*heightの半分にする*/

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;

  border: 5px solid #e0e0e0;

  width: 600px;
  height: 450px;
  background-color: #ffffff;
  z-index: 2;
}

.top{
    text-align: center;
    font-weight: bold;
}
